/*html
{
    font-size: (12/16)*1em;
}

.foo
{
    background : orange ;
    p
    {
        color: blue;
        font-size: 14px;
        font-weight: bold;
    }

    font:
    {
        family : arial ;
        weight : bold ;
        size : 2em ;
    }
}

a
{
    color :blue;
    text-decoration: none;
    &:hover
    {
        text-decoration: underline;
    }
}

/*.foo
{
    background: orange;
    &.block
    {
        
    }
}

.skytree
{
    width: 100px;
}
*/
/*
html
{
    font-size: (12/16)1em;
}



 /* font:
    {
        family : Arial ;
        weight : bold ;
        size : 2em ;
    }
}*/




.skytree
{
    width: 400px;
    height: 500px;
}


.skytree {
	opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.skytree :hover {
	opacity: .5;
}

@mixin button-bg($bg) {
    background: $bg;
    &:hover {
      background:darken($bg,8%);
      transition: all 0.3s ease;
    }
    &:active {
      background:darken($bg,25%);
    } 
  }
  .btn {
      position: absolute;
      top: 215px;
    color:#000;
    padding:5px 10px;
    font-size:22.5px;
    border: none;
    @include button-bg( #e46383);
   }

h1
{
    font-size: 40px;
}

h2
{
    color: #FFD4E7;
    font-size: 30px;
}

i
{
    font-size: 20px;
    color: #A1A1A1;
 
}

.main
{
    width: 400px;
    height: 320px;
    background-color: #BD687C;
    position: absolute;
    left: 7,5px;
    top: 250px;
}

.date
{
    font-size: 20px;
    position: absolute;
    top: 10px;
    left:22%;
    background-color:#FFD4E7 ;
    border-radius: 600px;
}


@media (hover) {
    .text span {
      transform: translateY(100px);
      transition: 0.2s;
    }
    .text:hover span {
      transform: translateY(0);
    }

/*
.text
{transition: visibility 0s linear 0.7s, opacity 0.7s ease-in-out;}

.text.hidden {
    transition-delay: 1s;
    opacity: 0; 
    visibility:hidden;
}

.text.visible {
    transition-delay: 3s;
    visibility: visible;
    opacity: 1;
}
{
    overflow: hidden;
    height: 0;
}
.text :hover
{
    animation: show 2s linear;
}

@keyframes show {
    0% {
        overflow: hidden;
        height: 0;
    }
    100% {
        overflow: visible;
        height: 10rem;
    }
}
