/*html
{
    font-size: (12/16)*1em;
}

.foo
{
    background : orange ;
    p
    {
        color: blue;
        font-size: 14px;
        font-weight: bold;
    }

    font:
    {
        family : arial ;
        weight : bold ;
        size : 2em ;
    }
}

a
{
    color :blue;
    text-decoration: none;
    &:hover
    {
        text-decoration: underline;
    }
}

/*.foo
{
    background: orange;
    &.block
    {
        
    }
}

.skytree
{
    width: 100px;
}
*/
/*
html
{
    font-size: (12/16)1em;
}



 /* font:
    {
        family : Arial ;
        weight : bold ;
        size : 2em ;
    }
}*/




.skytree
{
    width: 400px;
    height: 500px;
}

@mixin button-bg($bg) {
    background: $bg;
    &:hover {
      background:darken($bg,8%);
      transition: all 0.3s ease;
    }
    &:active {
      background:darken($bg,25%);
    } 
  }
  .btn {
    color:#000;
    padding:5px 10px;
    font-size:25px;
    @include button-bg( #e46383);
   }

h1
{
    font-size: 40px;
}

h2
{
    color: #FFD4E7;
    font-size: 30px;
}

i
{
    font-size: 20px;
    color: #A1A1A1;
 
}

.main
{
    width: 400px;
    height: 320px;
    background-color: #BD687C;
    position: absolute;
    left: 7,5px;
    top: 250px;
}

.date
{
    font-size: 25px;
    position: absolute;
    top: 8px;
    right: 1111px;
    background-color:#FFD4E7 ;
    border-radius: 600px;
}