html
{
    font-size: (12/16)*1em;
}

.foo
{
    background : orange ;
    p
    {
        color: blue;
        font-size: 14px;
        font-weight: bold;
    }

    font:
    {
        family : arial ;
        weight : bold ;
        size : 2em ;
    }
}